.container-lg{
    background-color: lightblue;
    text-align-last: center;
    height: 25px;
    max-width: 1350px;
    position:absolute;
    z-index: 3;
}

.container {
  max-width: 1350px;
}

.row{
    height:50px;
}

.flex-container {
  display: flex;
}

.calendar{
  padding-top: 20px;
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.arrow {
  padding-top: 13px;
}

.arrow:hover {
  cursor:pointer;
  background: #bbb;
}

#prevDate {
  margin: 0px 10px;
  width: 5%;
  text-align: center;
}

#nextDate {
  margin: 0px 10px;
  width: 5%;
  text-align: center;
}

#date {
  text-align: center;
  width: 95%;
}

#s .sec-title {
  position: absolute;
  top: 111px;
  z-index: 2;
  background: bisque;
  width: 418px;
  height: 55px;
  text-align: center;
  padding-top: 14px;
}

#t .sec-title {
  position:absolute;
  top: 111px;
  z-index: 2;
  background: rgb(155, 238, 155);
  width: 418px;
  height: 55px;
  text-align: center;
  padding-top: 14px;
}

#n .sec-title {
  position:absolute;
  top: 111px;
  z-index: 2;
  background: lavender;
  width: 418px;
  height: 55px;
  text-align: center;
  padding-top: 14px;
}

#s{
  padding: 0 16px;
  background-color: bisque;
}

.scheduling{
  padding-left: 30px;
  padding-top: 18px;
}
#t{
    padding: 0 16px;
    background-color: rgb(155, 238, 155);
}

.task-box {
  padding-left: 0px;
}

input[type="checkbox"]:checked + p {
  text-decoration: line-through;
}

p{
  padding-top: 13px;
  padding-left: 13px;
}

.task label {
  display:flex;
}

ul li {
    cursor: pointer;
    position: relative;
    z-index: 1;
    padding: 10px 0px 0px 8px;
    background: transparent;
    font-size: 18px;
    transition: 0.2s;
    list-style: none;
}

ul li:hover {
  background: rgb(140, 214, 140);
}

.itemlist{
  padding-top: 45px;
}
#todo{
  background-color: rgb(183, 248, 183);
  width: 75%;
}

.additem{
  padding-top: 29px;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  padding: 10px;
  float: left;
  font-size: 16px;
  border: none;
  outline: none;
}

.addBtn {
  padding: 10px;
  width: 25%;
  background: #fdf902;
  color: rgb(85, 85, 85);
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 29px 12px 10px 12px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

#n{
    padding: 0 16px;
    background-color:lavender;
}

#freeform{
    background-color: transparent;
    border: none;
    outline: none;
    padding-top: 28px;
}
